.slideOutLeft {
  transform: translateX(-2000px);
  flex: 1 0 100%;
  flex-basis: 10%;
  max-width: 100%;
}

.slideOutRight {
  transform: translateX(2000px);
  flex: 1 0 100%;
  flex-basis: 10%;
  max-width: 100%;
}

.slideFlex {
  display: flex;
  overflow: hidden;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  padding: 0;
  margin: .2em;
}
